<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Harper</title>
    <link rel="stylesheet" href="../static/post.css">
</head>
<body>
    <div class="container">
        <h1>$AMD stock Lisa Su</h1>
        <hr>
        <div id="info">
            <h3 id="date">2021 April 11</h3>
            <a href={{ url_for('blog') }}><h3 id="post">See all post</h3></a>
        </div>
        <p>$AMD stock outlook next 5 years</p>
    </div>
</body>
</html>