<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Harper</title>
    <link type="text/css" rel="stylesheet" href="../static/blog.css">
</head>
<body>
    <div class="container">
        <h1>Marcus Harper's website</h1>
        <hr>
        <div class="post">
            <h3 class="date">2021 April 09</h3>
            <a href={{ url_for('testRoute') }}><h2 class="title">Why Courier Should Be Used More</h2></a>
        </div>
        <div class="post">
            <h3 class="date">2021 April 11</h3>
            <a href={{ url_for('amd') }}><h2 class="title">$AMD stock Lisa Su</h2></a>
        </div>
    </div>
</body>
</html>